
body {
	margin : 0;
}
.btn-discover {
	background-color: green;
	padding: 10px 30px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0,4); 
	border-radius: 4px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	position : relative;
	top: 350px;
	opacity: 0.8;
	transition: 0.3s;
}

.btn-discover:hover{
	color: white;
	transform: scale(1.3);
	box-shadow: 6px 6px 10px rgba(0,0,0,0.4);
	opacity: 1;
}

.banner{
	text-align: center;
	background-image: url('images/fond.jpg');
	background-size: cover;
	height: 626px;
}

.banner a {
  color: white;
  font-size: 40px;
}

.banner h2 {
  color: white;
  font-size: 60px;
  font-weight: lighter;
  opacity: 1;
  margin-top: 0;
  position: relative;
  top: 100px;
  font-family: Times;
}

.container {
	width: 900px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 90px;
	flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  bottom: 100px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  width: 40%;
  transition: 0.3s;
  margin-top: 30px;
}

.card:hover {
	box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 520px;
  }
  .btn {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .btn {
    width: 100%;
  }
}